main {
    width: 800px;
    margin: 0 auto;

    display: flex;

    @media screen and (max-width: 810px) {
        width: auto;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

article {
    margin: 0 0.5em;
}

h2 {
    color: black;
    
    @media screen and (max-width: 810px) {
        color: red;
    }
    
    @media screen and (max-width: 600px) {
        color: green;
    }
}

